.section{

    margin: 6rem;
    text-align : center;
    align-items: center;
}

.label{
    font-weight: 500;
    text-align:left;
    font-size: larger;
}


.input{
    margin : 2rem;
    text-align : start; 
    width: 40rem;
    font-weight: 500;
    font-size: larger;
}

.button{
    margin : 2rem;
    text-align : center; 
    width: 10rem;
    font-weight: 500;
    font-size: larger;
    border-color: hsla(15, 72%, 70%, 0.884);
    background-color:rgba(240, 126, 88, 0.884);
}

.button1{

    margin-left:40rem ;
    text-align : center; 
    color:  crimson;
    width: 10rem;
    font-weight: 500;
    font-size: larger;
    border-color: crimson;
    background-color: transparent;
}

.container{
    align-items: center;
    margin-top: 6rem;
    text-align: center;
}